<html>
<head>
    <title>CSV upload</title>
</head>
<body>


<input type="file" name="filename" id="filename">
<button id="upload">upload</button>
<div class="csv"></div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<!--<script>
    //this is the 1st way.
    $(document).ready(function () {
        $('#upload').click(function () {

            var csv = $('#filename');
            var csvFile = csv[0].files[0];
            var ext = csv.val().split(".").pop().toLowerCase();

            if ($.inArray(ext, ["csv"]) === -1) {
                alert('upload csv');
                return false;
            }
            if (csvFile != undefined) {
                reader = new FileReader();
                reader.onload = function (e) {

                    csvResult = e.target.result.split(/\r|\n|\r\n/);
                    $('.csv').append(csvResult);
                }
                reader.readAsText(csvFile);
            }
        });
    });
</script>-->

<!--<script>
    //2nd way upload csv with jquery.
    $("#filename").change(function(e){
        var ext = $("#filename").val().split(".").pop().toLowerCase();

        if($.inArray(ext, ["csv"]) == -1) {
            alert('Upload CSV');
            return false;
        }

        if(e.target.files != undefined){
            var reader = new FileReader();
            reader.onload = function(e){
                csvResult = e.target.result.split(/\r|\n|\r\n/);
                $('.csv').append(csvResult);
            }
            reader.readAsText(e.target.files.item(0));
        }
    });
</script>-->

<section id="upload-data-panel">
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload Data</legend>
            <div>
                <!-- The name here is important, and will be used later to reference the data -->
                <input type="file" name="csvdata" accept="text/cvs">
            </div>
            <div>
                <input type="submit" value="Submit"/>
            </div>
        </fieldset>
    </form>
</section>


</body>

<script>
    var request = require("request"),
        csv = require("csv");

    module.exports = function (app) {
        // accepts the POST form submit of the CSV file
        app.post("/upload/data", function (req, res) {
            // the name under "files" must correspond to the name of the
            // file input field in the submitted form (here: "csvdata")
            csv().from.path(req.files.csvdata.path, {
                delimiter: ",",
                escape: '"'
            })
                // when a record is found in the CSV file (a row)
                .on("record", function (row, index) {
                    var firstName, lastName;

                    // skip the header row
                    if (index === 0) {
                        return;
                    }

                    // read in the data from the row
                    firstName = row[0].trim();
                    lastName = row[1].trim();

                    // perform some operation with the data
                    // ...
                })
                // when the end of the CSV document is reached
                .on("end", function () {
                    // redirect back to the root
                    res.redirect("/");
                })
                // if any errors occur
                .on("error", function (error) {
                    console.log(error.message);
                });
        });
    };
</script>
</html>