<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
          integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

<style>
p{
font-size: 12px;
}

</style>

</head>
<body class="container h-screen mx-auto sm:w-11/12 lg:w-8/12">

<div class="bg-white px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="" style="display: flex;">

        <div class="space-y-5">
            <div class="border rounded shadow-sm">
                <button type="button" aria-label="Open item" title="Open item" class="flex items-center justify-between w-full p-4 focus:outline-none">
                    <p class="text-lg font-medium">Course Essential</p>
                    <div class="flex items-center justify-center w-8 h-8 border rounded-full rotate-1" style="
    offset-rotate: -30;
">
                        <!-- Add "transform rotate-180" classes on svg, if is open" -->
                        <svg viewBox="0 0 24 24" class="w-3 rotate-1 text-gray-600 transition-transform duration-200">
                            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                        </svg>
                    </div>
                </button>

            </div>
            <div class="border rounded shadow-sm">
                <button type="button" aria-label="Open item" title="Open item" class="flex items-center justify-between w-full p-4 focus:outline-none">
                    <p class="text-lg font-medium">Course Instructor Information</p>
                    <div class="flex items-center justify-center w-8 h-8 border rounded-full">
                        <svg viewBox="0 0 24 24" class="w-3 text-gray-600 transition-transform duration-200 transform rotate-180">
                            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                        </svg>
                    </div>
                </button>
                <!-- Show content if is open
                <div class="p-4 pt-0"><p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p></div>
                -->
            </div>
            <div class="border rounded shadow-sm">
                <button type="button" aria-label="Open item" title="Open item" class="flex items-center justify-between w-full p-4 focus:outline-none">
                    <p class="text-lg font-medium">CLO Distribution</p>
                    <div class="flex items-center justify-center w-8 h-8 border rounded-full">
                        <svg viewBox="0 0 24 24" class="w-3 text-gray-600 transition-transform duration-200 transform rotate-180">
                            <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                        </svg>
                    </div>
                </button>
                <!-- Show content if is open
                <div class="p-4 pt-0"><p class="text-gray-700">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae.</p></div>
                -->
            </div>

        </div>
    </div>
</div>


</body>
</html>