<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="border-4 border-green-400 border-solid w-4 h-4 rounded-full"></div>
<div class="border-4 border-green-400 border-solid w-4 h-2 rounded-full"></div>
<div class="border-4 border-green-400 border-solid w-2 h-4 rounded-full"></div>


<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="w-10">
  <path fill="none"
        d="M18.7,-31.1C22,-30.5,20.9,-21,22.7,-14.3C24.6,-7.6,29.4,-3.8,28.4,-0.6C27.4,2.7,20.7,5.4,16.6,8.2C12.6,11,11.2,14,8.9,15.3C6.5,16.6,3.3,16.3,-1.3,18.6C-5.9,20.9,-11.9,25.9,-16.1,25.6C-20.3,25.4,-22.9,20.1,-25,14.9C-27.2,9.8,-28.9,4.9,-31.3,-1.4C-33.6,-7.6,-36.6,-15.2,-33.7,-19.1C-30.9,-23,-22.2,-23.2,-15.6,-21.8C-9,-20.4,-4.5,-17.6,1.6,-20.4C7.7,-23.2,15.4,-31.6,18.7,-31.1Z"
        transform="translate(50 50)" stroke-width="4"
        stroke="rgba(248, 117, 55, 1)"></path>
</svg>

<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M20.6,12.2C17.9,16.6,0.8,13,-5,6.8C-10.9,0.6,-5.4,-8.2,3.1,-6.4C11.7,-4.6,23.3,7.8,20.6,12.2Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>

<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M16.7,8C11,19.6,-11.8,19.8,-17.4,8.3C-23,-3.2,-11.5,-26.4,-0.1,-26.5C11.2,-26.6,22.5,-3.6,16.7,8Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M4.1,-5.9C6.3,-5.9,9.8,-6.8,16.6,-5.9C23.4,-5.1,33.6,-2.5,35.2,0.9C36.8,4.4,29.8,8.8,25.3,13.5C20.7,18.3,18.6,23.4,14.8,25.3C11,27.2,5.5,26,-0.3,26.4C-6,26.9,-12,29.1,-14.1,26.2C-16.2,23.3,-14.4,15.2,-18.7,10C-23.1,4.8,-33.6,2.4,-36.8,-1.8C-39.9,-6.1,-35.7,-12.1,-30,-14.9C-24.2,-17.7,-16.9,-17.2,-11.7,-15.5C-6.4,-13.8,-3.2,-10.9,-1.1,-9C1,-7,1.9,-6,4.1,-5.9Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M6.9,-13.6C10.4,-9.8,15.8,-11,17.5,-9.6C19.1,-8.2,17,-4.1,17.8,0.5C18.6,5,22.3,10,21.6,13C20.8,16,15.6,17.1,11.3,20.5C7,24,3.5,29.9,-2.4,34C-8.2,38.1,-16.4,40.4,-17.9,35.3C-19.5,30.2,-14.3,17.7,-13.9,10.6C-13.5,3.5,-17.9,1.7,-18.3,-0.2C-18.7,-2.2,-15.1,-4.4,-12,-5.4C-8.8,-6.3,-6,-6,-4.1,-10.7C-2.2,-15.3,-1.1,-25.1,0.3,-25.6C1.7,-26.1,3.3,-17.3,6.9,-13.6Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M9.6,-11.2C16.7,-12.5,29.6,-18.5,36,-17.4C42.3,-16.4,42.1,-8.2,40.8,-0.8C39.4,6.6,36.8,13.1,30.8,14.9C24.8,16.7,15.5,13.6,9.8,14.9C4.1,16.3,2,22,-0.8,23.3C-3.6,24.7,-7.2,21.6,-9.7,18.5C-12.3,15.3,-13.8,12.1,-14.1,9C-14.4,5.9,-13.6,2.9,-16.9,-1.9C-20.2,-6.7,-27.6,-13.5,-28.2,-18.3C-28.9,-23,-22.7,-25.9,-16.9,-25.3C-11,-24.8,-5.5,-20.9,-2.1,-17.2C1.2,-13.5,2.5,-10,9.6,-11.2Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M19.7,-36.1C23.4,-32.1,22.6,-22.4,22.4,-15.4C22.2,-8.4,22.4,-4.2,19.5,-1.7C16.5,0.8,10.4,1.6,9.4,6.5C8.5,11.4,12.7,20.4,12,24.8C11.3,29.2,5.7,28.9,0.3,28.3C-5,27.7,-10,26.8,-15.8,25.4C-21.7,24,-28.4,22.2,-28.3,17.8C-28.2,13.5,-21.3,6.8,-19.7,1C-18,-4.8,-21.6,-9.7,-22,-14.6C-22.5,-19.5,-19.8,-24.6,-15.6,-28.3C-11.4,-32.1,-5.7,-34.6,1.2,-36.6C8,-38.7,16.1,-40.2,19.7,-36.1Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M12.9,-24C14.4,-21.4,11.7,-13.3,14,-8.4C16.3,-3.5,23.7,-1.7,28.6,2.8C33.5,7.4,36.1,14.9,32.8,18.2C29.6,21.5,20.5,20.7,14.1,23.2C7.6,25.7,3.8,31.6,1.1,29.6C-1.6,27.7,-3.1,17.9,-5.8,13.2C-8.5,8.5,-12.2,8.9,-19.3,7.5C-26.4,6.1,-37,3.1,-35.9,0.6C-34.8,-1.8,-22.1,-3.6,-17.1,-8.7C-12.1,-13.8,-14.9,-22.2,-13.3,-24.8C-11.8,-27.4,-5.9,-24.2,-0.1,-24C5.7,-23.8,11.3,-26.7,12.9,-24Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>

<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M16.1,-21.7C19.7,-16.1,20.9,-10,19.9,-5C19,-0.1,16,3.7,15.1,12C14.2,20.2,15.4,32.9,11.7,35.7C8.1,38.6,-0.4,31.5,-8.2,26.8C-16,22.2,-23.2,19.8,-26,15C-28.8,10.2,-27.3,2.8,-24,-2.3C-20.8,-7.3,-15.8,-10.1,-11.5,-15.6C-7.2,-21.1,-3.6,-29.4,1.3,-30.9C6.2,-32.5,12.4,-27.3,16.1,-21.7Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M8.4,-8.8C11.2,0,14.1,4.9,12.7,13.6C11.3,22.4,5.6,35,-0.3,35.2C-6.3,35.4,-12.6,23.1,-16.3,13.1C-20,3,-21.1,-4.9,-17.9,-13.9C-14.8,-22.9,-7.4,-33,-2.3,-31.6C2.8,-30.3,5.6,-17.6,8.4,-8.8Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M9.1,-2.1C15.9,6.5,28.3,15.1,27.8,20.5C27.2,25.9,13.6,28.3,5.6,25C-2.5,21.8,-4.9,13.1,-8,6.2C-11,-0.7,-14.6,-5.6,-13.4,-11C-12.2,-16.4,-6.1,-22.2,-2.5,-20.8C1.1,-19.4,2.3,-10.7,9.1,-2.1Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>

<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M26.2,-16.7C28.3,-11.5,20.4,-2.2,14.4,7.3C8.3,16.7,4.2,26.3,-2.3,27.6C-8.7,28.9,-17.3,21.9,-24.2,12C-31.2,2,-36.3,-11,-32,-17.4C-27.7,-23.9,-13.8,-23.8,-0.9,-23.3C12.1,-22.8,24.2,-21.9,26.2,-16.7Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M9.1,-2.1C15.9,6.5,28.3,15.1,27.8,20.5C27.2,25.9,13.6,28.3,5.6,25C-2.5,21.8,-4.9,13.1,-8,6.2C-11,-0.7,-14.6,-5.6,-13.4,-11C-12.2,-16.4,-6.1,-22.2,-2.5,-20.8C1.1,-19.4,2.3,-10.7,9.1,-2.1Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>
<!--?xml version="1.0" standalone="no"?-->
<svg id="sw-js-blob-svg" viewBox="0 0 100 100"
     xmlns="http://www.w3.org/2000/svg" class="w-10">
  <defs>
    <linearGradient id="sw-gradient" x1="0" x2="1" y1="1" y2="0">
      <stop id="stop1" stop-color="rgba(248, 117, 55, 1)"
            offset="0%"></stop>
      <stop id="stop2" stop-color="rgba(251, 168, 31, 1)"
            offset="100%"></stop>
    </linearGradient>
  </defs>
  <path fill="none"
        d="M9.1,-2.1C15.9,6.5,28.3,15.1,27.8,20.5C27.2,25.9,13.6,28.3,5.6,25C-2.5,21.8,-4.9,13.1,-8,6.2C-11,-0.7,-14.6,-5.6,-13.4,-11C-12.2,-16.4,-6.1,-22.2,-2.5,-20.8C1.1,-19.4,2.3,-10.7,9.1,-2.1Z"
        transform="translate(50 50)"
        stroke-width="4"
        stroke="url(#sw-gradient)"></path>
</svg>


<svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" class="w-10" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
  <g transform="translate(35, 73)">
    <path class="blob" d="M321.5,273Q224,296,190,191.5Q156,87,287.5,168.5Q419,250,321.5,273Z" fill="none" stroke-width="7px" stroke="#00cec9"></path>
  </g>
</svg>
<svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
  <g transform="translate(195.01373291015625, 29.651180267333984)">
    <path class="blob" d="M386,335.5Q421,421,335.5,395.5Q250,370,164,396Q78,422,80.5,336Q83,250,118.5,202Q154,154,202,176Q250,198,275.5,198.5Q301,199,326,224.5Q351,250,386,335.5Z" fill="none" stroke-width="7px" stroke="#00cec9"></path>
  </g>
</svg>

</body>
</html>